@import 'https://fonts.googleapis.com/css?family=Comfortaa';

html {
  background-color: #000000;
  padding-top: 8px;
  font-family: "Comfortaa", sans-serif;
  font-size: 18px;
}
h1 {
  text-align: center;
  margin-top: 4px;
  font-weight: bolder;
  color: white;
  text-shadow: 0 0 6px #FF0088, 0 0 12px #FF0088, 0 0 2px #FFFFFF;
}
div a {
  color: white;
}