@import 'https://fonts.googleapis.com/css?family=Comfortaa';

html {
  background-color: #000000;
  background-image: url("bubble.jpg");
  background-size: 100%;
  color: #aa0055;
  padding-top: 8px;
  font-family: "Comfortaa", sans-serif;
  font-size: 18px;
}
h1 {
  text-align: center;
  margin-left: 12.5%;
  margin-top: 4px;
  font-weight: bolder;
  color: white;
  text-shadow: 0 0 6px #FF0088, 0 0 12px #FF0088, 0 0 2px #FFFFFF;
}
#main {
  display: block;
  width: 800px;
  min-width: 600px;
  margin: auto;
}
#array {
  display: flex;
  position: relative;
  margin: auto;
  width: 360px;
  min-height: 200px;
  align-items: flex-end;
}
#infoBox {
  position: relative;
  text-align: center;
  margin: auto;
  width: 15%;
  min-width: 80px;
  background-color: #440022;
  color: white;
  padding: 8px;
  border-radius: 16px;
  border: 2px solid white;
  text-shadow: 0 0 6px #FF0088, 0 0 12px #FF0088, 0 0 2px #FFFFFF;
  box-shadow: 0 0 6px #FF0088, 0 0 12px #FF0088, 0 0 2px #FFFFFF;
}
.numBar {
  position: relative;
  margin: 4px;
  flex-grow: 1;
  font-weight: bold;
  border: 2px solid white;
  border-radius: 16px;
  display: inline-flex;
  text-align: center;
  padding: 4px;
  transition: height 0.4s, background-color 0.5s;
  text-shadow: 0 0 6px #FF0088, 0 0 12px #FF0088, 0 0 2px #FFFFFF;
  box-shadow: 0 0 6px #FF0088, 0 0 12px #FF0088, 0 0 2px #FFFFFF;
}
button {
  font-family: "Comfortaa", sans-serif;
  margin: 4px;
  padding: 4px;
  padding-right: 8px;
  padding-left: 8px;
  background-color: #cc0066;
  border-radius: 8px;
  color: white;
  border: 2px solid white;
  text-shadow: 0 0 6px #FF0088, 0 0 12px #FF0088, 0 0 2px #FFFFFF;
  box-shadow: 0 0 6px #FF0088, 0 0 12px #FF0088, 0 0 2px #FFFFFF;
}